
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed ; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.n{
    font-size: xx-large;
    padding: 30px 10px;
}


/* end of side nav */




body{
    background-color: #f5f5f5 ;
}

.container{
    
}

@font-face{
    font-family: 'myfont';
    src:url(fonts/Signerica_Medium.ttf);
}


.nav_bar{
    height: 20px;
    display: flex;
    padding: 5px 5px;
    display: flex;
    justify-content:flex-end;


}

.title{
    padding-left: 15px;
    font-family: 'myfont';
    font-size:xx-large;

}

.sidecon{
    height: 50px;
    display: flex;
    justify-content: flex-end;

}

.side_nav{
    padding-right: 25px;
}

.sn{
    color: black;
    text-decoration: none;
}


/* end of nav bar */

.contact{
    text-align: center;
    font-size:xx-large;
}

.descrition{
    text-align: center;
    font-size: larger;

}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.iput{
    
}

.box{
    display: grid;
    align-items:center ;
}